@model ParkingApp.Models.SpaceAndBooking


@{
    ViewData["Title"] = "Create";
}




<main class="rent_main">

    


    <div class="rentEarn-reg1">
        <div class="rentEarn-reg1-banner">
            <div class="rentEarn-reg1-banner-1">
                <h2>Book a Space</h2>
            </div>
            <div class="rentEarn-reg1-banner-2">
            </div>

        </div>

    </div>

    <div class="rentEarn-top-right">
    </div>

    @*place booking stuff here*@

    <div class="reg1_body">


        <div class="reg1_body_main">

            <div class="">

                <div class="text-center">
                    <h5>Address: @Model.Address</h5>
                    <h5>Location Status:  @Model.Status</h5>
                    <h5>Opening Time:  @Model.Open_Time.TimeOfDay AM</h5>
                    <h5>Closing Time:  @Model.Close_Time.TimeOfDay  PM</h5>
                    <h5 id="Daily_Rate">Daily Rate: N  @Model.Daily_Parking</h5>
                    <h5>Weekly Rate: N @Model.Weekly_Parking</h5>
                    <h5>Monthly Rate: N @Model.Monthly_Parking</h5>
                    <h5> Parking Description:  @Model.ParkingDesc</h5>
                </div>
                
                    
                

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="License_No" class="control-label fw-bold"></label>
                        <input asp-for="License_No" class="form-control" />
                        <span asp-validation-for="License_No" class="text-danger"></span>
                    </div>

                    <div class="reg_select">

                        <label asp-for="Vehicle_Type" class="control-label fw-bold"> Select Vehicle Type</label>
                        <select asp-for="Vehicle_Type" class="">
                            <option value="" disabled selected hidden>Vehicle Type</option>
                            <option value="Saloon"> Saloon</option>
                            <option value="SUV">SUV</option>
                        </select>
                        <span asp-validation-for="Vehicle_Type" class="text-danger"></span>
                    </div>

                    <div class="rentEarn_reg1_time pt-4">
                        <div class=" rentEarn_reg1_time1 text-center">
                            <label asp-for="Date_Arrival" class="control-label fw-bold"> Arrival Date</label>
                            <input asp-for="Date_Arrival" id="Date_Arrival" value="06/12/2022" id="" type="date" class="timepm" />
                            <span asp-validation-for="Date_Arrival" class="text-danger"></span>
                        </div>
                        <div class=" rentEarn_reg1_time1 text-center">
                            <label asp-for="Date_Depature" class="control-label fw-bold">Depature Date</label>
                            <input asp-for="Date_Depature" id="Date_Depature" value="06/12/2022" type="date" class="timepm" />
                            <span asp-validation-for="Date_Depature" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Total_Amount" class="control-label fw-bold"> Total Amount</label>
                        <input asp-for="Total_Amount" id="output" class="form-control" />
                        
                    </div>

                   @* <button onclick="totalPay()"> Total Amount</button>*@

                   

                    @* <div class="rentEarn_Slot text-center pt-4">
                    <label class="control-label fw-bold"> Total Amount : </label>
                    <h5 id="output"> </h5>
                    
                    </div>*@

                    <hr class="mt-5" style="margin:auto; border-color:black;" width="80%">
                    <div class="reg1_bottom">
                        <div class="reg-back">
                            <a asp-controller="Spaces" asp-action="search" class="reg-back1 fw-bold">Back to List</a>

                        </div>
                        <div class="form-group">
                            <button class="btn reg1_btn" type="submit" onclick="OpenPopup('popup24')">Pay Now </button>
                        </div>
                    </div>      
                </form>

                 @*popup*@
                <div class="checkout-popup align-items-center" id="popup24">
                    <div>
                        <div class="text-center">
                            <h3>Payment Section</h3>
                        </div>
                        <form>
                            <div class='row row-cols-2 align-items-center'>
                                <div class='col'>
                                    <label>Debit Card Number</label>
                                    <input class="checkout-input" type="text" />
                                </div>
                                <div class="col">
                                    <label>Expiration Date</label>
                                    <input class="checkout-input" type="text" />
                                </div>
                                <div class="col mt-2">
                                    <label>CVV</label>
                                    <input class="checkout-input" type="text" />
                                </div>
                                <div class="col mt-2">
                                    <label>Card Pin</label>
                                    <input class="checkout-input" type="text" />
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="loginbutton mt-3 me-3" onclick="ClosePopup('popup24')">
                                    Back
                                </button>
                                <button class="loginbutton mt-3" type="submit" onclick="ClosePopup('popup24')">
                                    Make Payment
                                </button>
                            </div>
                        </form>
                    </div>
                    @*<section>
                    <input asp-for="Number" class="login" id="cardnumber" type="tel" placeholder="Card Number" required />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Number" class="text-danger"></span>
                    </section>*@
                </div>
                



            </div>
        </div>
    </div>


</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
