@model IEnumerable<ParkingApp.Models.SpaceAndBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.License_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Depature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.License_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Depature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Amount)
            </td>
            <td>
               @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
